asgiref==3.10.0
Django==5.2.7
django-cors-headers==4.9.0
djangorestframework==3.16.1
libsumo==1.24.0.post0
libtraci==1.24.0.post0
sqlparse==0.5.3
sumolib==1.24.0.post0
traci==1.24.0.post0
typing_extensions==4.15.0
